@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-ibm-plex-mono);
  --font-quantico: var(--font-quantico);
  --font-serif: var(--font-serif);
}

h1, h2, h3, h4, h5, h6 {
  @apply font-quantico font-normal;
}
